
.literata-mainfont {
	font-family: "Literata", serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

html {
	font-family: "Literata", serif;
	font-size: 14px;
	color: #222222;
	background: #ebeef2;
}

h1 {
	font-size: 24px;
	text-align: center;
	background-color: #d5d8de;
	border-radius: 10px;
	padding: 5px 5px 5px 5px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

a {
	color: #222222;
}

body {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

footer {
	text-align: center;
	/*background-color: #d5d8de;*/
	border-radius: 5px;
	padding: auto;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(239,158,158), rgba(239,190,158), rgba(255,250,192), rgba(192,255,201), rgba(192,240,255), rgba(218,213,252) );
}

.maintext {
	margin: 0px auto;
	max-width: 750px;
	padding: 10px 20px 10px 20px;
	border: 1px dotted #222222;
	border-radius: 20px;
	background-color: #FDFDFD;
}