
.literata-mainfont {
	font-family: "Literata", serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

:root {
    --main-font-color: #f9dec9;
    --secondary-font-color: #3a405a;
}

html {
	font-family: "Literata", serif;
	font-size: 14px;
	color: var(--main-font-color);
	background: var(--secondary-font-color);
    cursor: url("/assets/images/cursor.png"), pointer;
}

hr {
    border: 1px solid var(--main-font-color);
}

h1 {
	font-size: 24px;
	text-align: center;
	background-image: linear-gradient(to right, rgba(239,158,158), rgba(239,190,158), rgba(255,250,192), rgba(192,255,201), rgba(192,240,255), rgba(218,213,252) );
	border-radius: 10px;
	padding: 5px 5px 5px 5px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
    color: var(--secondary-font-color);
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

a {
	color: var(--main-font-color);
}

body {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

footer {
	text-align: center;
	border-radius: 5px;
	padding: auto;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(239,158,158), rgba(239,190,158), rgba(255,250,192), rgba(192,255,201), rgba(192,240,255), rgba(218,213,252) );
    color: var(--secondary-font-color);
}

.maintext {
	margin: 0px auto;
	max-width: 750px;
	padding: 10px 20px 10px 20px;
	border: 1px dotted var(--main-font-color);
	border-radius: 20px;
}
